* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f8f3f3;
}

.card {
    width: 90%;
    max-width: 420px;  /* Suitable for mobile + desktop */
    background: linear-gradient(135deg, #0d0e0d, #4228f0);
    color: #f7ebeb;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 30px; /* Adjusted for better spacing */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 0;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    max-width: 70%;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
    color: #ffdddd;
    background-color: rgb(8, 8, 8);
    padding: 10px;
    border-radius: 8px;
    display: none;
}
